@use '../../../assets/styles/variables.scss';

.upper {
    height: 89px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;

    .wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 1222px;
        width: 100%;
        margin: auto;

        .logo {
            width: 134px;
            height: 156px;
            overflow: auto;
            margin-top: 8px;
            margin-right: 31px;
        }

        .main {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 76px;

            .links {
                display: flex;
                flex-wrap: wrap;
                gap: 49px;
                margin-right: 86px;

                .link {
                    display: flex;

                    a {
                        margin: auto;
                    }
                }
            }

            .contacts {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                margin-right: 56px;

                .phone {
                    .icon {
                        margin-right: 7px;
                    }

                    .number {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .schedule {
                    font-size: 12px;
                    font-weight: 500;
                    color: variables.$text-grey;
                }
            }

            .cart {
                width: 134px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: variables.$grey;
                border-radius: 6px;
                margin-right: 25px;

                .sum {
                    padding: 0 10px;
                    width: 78px;
                    text-align: center;
                }

                .delimiter {
                    height: 24px;
                    border-right: 1px solid #fff;
                }

                .icon {
                    margin: auto;
                    position: relative;

                    .counter {
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        bottom: 11px;
                        left: 12px;
                        color: #fff;
                        background-color: variables.$accent;
                        font-size: 11px;
                        text-align: center;
                        border-radius: 50%;
                    }
                }
            }

            .profile {
                width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                background-color: variables.$grey;
                border-radius: 6px;

                .icon {
                    margin: auto;
                }
            }
        }
    }
}
