@use '../../../assets/styles/variables.scss';

.bottom {
    display: flex;
    background-color: variables.$grey;

    .wrapper {
        display: flex;
        align-items: center;
        max-width: 1224px;
        margin: 12px auto;

        .categories {
            display: flex;
            flex-wrap: wrap;
            gap: 44px;
            align-items: center;
            margin-left: 188px;

            .category {
                width: 64px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 32px;
                    height: 32px;
                    margin-bottom: 10px;
                }

                .name {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}
