@use 'scss-reset/reset';
@use 'assets/styles/variables.scss';
@use './assets/styles/fonts';

* {
  color: variables.$black;
  text-decoration: none;
}

body {
  background-color: variables.$white;
  font: 400 normal 14px/17px TT Interfaces, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: auto;
  max-width: 1223px;
}
