@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-SemiBoldItalic.eot');
  src: local('TT Interfaces SemiBold Italic'), local('../fonts/TTInterfaces-SemiBoldItalic'),
  url('../fonts/TTInterfaces-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-SemiBoldItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-MediumItalic.eot');
  src: local('TT Interfaces Medium Italic'), local('../fonts/TTInterfaces-MediumItalic'),
  url('../fonts/TTInterfaces-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-MediumItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-MediumItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-BoldItalic.eot');
  src: local('TT Interfaces Bold Italic'), local('../fonts/TTInterfaces-BoldItalic'),
  url('../fonts/TTInterfaces-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-BoldItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-BoldItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-Italic.eot');
  src: local('TT Interfaces Italic'), local('../fonts/TTInterfaces-Italic'),
  url('../fonts/TTInterfaces-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-Italic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-Italic.woff') format('woff'),
  url('../fonts/TTInterfaces-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-SemiBold.eot');
  src: local('TT Interfaces SemiBold'), local('../fonts/TTInterfaces-SemiBold'),
  url('../fonts/TTInterfaces-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-SemiBold.woff2') format('woff2'),
  url('../fonts/TTInterfaces-SemiBold.woff') format('woff'),
  url('../fonts/TTInterfaces-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-Medium.eot');
  src: local('TT Interfaces Medium'), local('../fonts/TTInterfaces-Medium'),
  url('../fonts/TTInterfaces-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-Medium.woff2') format('woff2'),
  url('../fonts/TTInterfaces-Medium.woff') format('woff'),
  url('../fonts/TTInterfaces-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-ExtraBold.eot');
  src: local('TT Interfaces ExtraBold'), local('../fonts/TTInterfaces-ExtraBold'),
  url('../fonts/TTInterfaces-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-ExtraBold.woff2') format('woff2'),
  url('../fonts/TTInterfaces-ExtraBold.woff') format('woff'),
  url('../fonts/TTInterfaces-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-BlackItalic.eot');
  src: local('TT Interfaces Black Italic'), local('../fonts/TTInterfaces-BlackItalic'),
  url('../fonts/TTInterfaces-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-BlackItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-BlackItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-Bold.eot');
  src: local('TT Interfaces Bold'), local('../fonts/TTInterfaces-Bold'),
  url('../fonts/TTInterfaces-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-Bold.woff2') format('woff2'),
  url('../fonts/TTInterfaces-Bold.woff') format('woff'),
  url('../fonts/TTInterfaces-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-Light.eot');
  src: local('TT Interfaces Light'), local('../fonts/TTInterfaces-Light'),
  url('../fonts/TTInterfaces-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-Light.woff2') format('woff2'),
  url('../fonts/TTInterfaces-Light.woff') format('woff'),
  url('../fonts/TTInterfaces-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-ExtraBoldItalic.eot');
  src: local('TT Interfaces ExtraBold Italic'), local('../fonts/TTInterfaces-ExtraBoldItalic'),
  url('../fonts/TTInterfaces-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-Regular.eot');
  src: local('TT Interfaces Regular'), local('../fonts/TTInterfaces-Regular'),
  url('../fonts/TTInterfaces-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-Regular.woff2') format('woff2'),
  url('../fonts/TTInterfaces-Regular.woff') format('woff'),
  url('../fonts/TTInterfaces-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-Black.eot');
  src: local('TT Interfaces Black'), local('../fonts/TTInterfaces-Black'),
  url('../fonts/TTInterfaces-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-Black.woff2') format('woff2'),
  url('../fonts/TTInterfaces-Black.woff') format('woff'),
  url('../fonts/TTInterfaces-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-ThinItalic.eot');
  src: local('TT Interfaces Thin Italic'), local('../fonts/TTInterfaces-ThinItalic'),
  url('../fonts/TTInterfaces-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-ThinItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-ThinItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-LightItalic.eot');
  src: local('TT Interfaces Light Italic'), local('../fonts/TTInterfaces-LightItalic'),
  url('../fonts/TTInterfaces-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-LightItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-LightItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-ExtraLightItalic.eot');
  src: local('TT Interfaces ExtLt Ita'), local('../fonts/TTInterfaces-ExtraLightItalic'),
  url('../fonts/TTInterfaces-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/TTInterfaces-ExtraLightItalic.woff') format('woff'),
  url('../fonts/TTInterfaces-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-Thin.eot');
  src: local('TT Interfaces Thin'), local('../fonts/TTInterfaces-Thin'),
  url('../fonts/TTInterfaces-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-Thin.woff2') format('woff2'),
  url('../fonts/TTInterfaces-Thin.woff') format('woff'),
  url('../fonts/TTInterfaces-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../fonts/TTInterfaces-ExtraLight.eot');
  src: local('TT Interfaces Extra Light'), local('../fonts/TTInterfaces-ExtraLight'),
  url('../fonts/TTInterfaces-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTInterfaces-ExtraLight.woff2') format('woff2'),
  url('../fonts/TTInterfaces-ExtraLight.woff') format('woff'),
  url('../fonts/TTInterfaces-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

