$black: #1B1B1B;
$black-icon: #09121F;
$white: #F8F8F8;
$grey: #F5F5F5;
$grey-darker: #E8E8E8;
$border-grey: #E2E1E1;
$text-grey: #B7B7B7;
$accent: #E07153;

$bp-1275: 1275px;
$bp-1178: 1178px;
$bp-814: 814px;
$bp-538: 538px;
