@use '../../assets/styles/variables';

.foodList {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        max-width: 1223px;
        margin: auto;
    }
}
