@use '../../../assets/styles/variables';

.foodList {
    margin-bottom: 119px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        max-width: 1224px;
        margin: auto;
    }
}
